/**
 * partials/main
 * ---
 * Main
 */

// For fixed-top navbar
html { 
	font-size: 62.5%; /* 10px browser default */
}
body {
	padding-top: 65px;
}
h1 {
	font-family: $condensed;
	font-size: 3rem;
	color: $black;
}
h2 {
	font-weight: bold;
	font-size: 2rem;
	color: $black;
	font-family: $condensed;
}
h3,h4,h5,h6 {
	font-family: $condensed;
	color: $black;
}

.grey-bg {
	background: #F8F8F8;
}

.header-border {
	display: inline-block;
	&:after {
		@include orange-border;
	}
}

p, div, span, ul, li {
	font-size: 1.8rem;
	font-family: $roboto;
	color: $text-grey; 
}

main {
	margin-bottom: 30px;
}