/**
 * partials/footer
 * ---
 */

footer {
	background: #000;
	color: #fff;
	padding: 20px 0;
	div, span {
		color: #fff;
		font-size: 13px;
	}
	.pull-left {
		float: left;
	}
	.social {
		margin-left: 10px;
	}
}

.footer-top {
	min-height: 400px;
	background-size: cover !important;
	.row {
		height: 400px;
		h1 {
			color: #fff;
		}
		p {
			color: #fff;
			font-size: 40px;
		}
	}
}