/**
 * partials/utils
 * ---
 * Utils classes
 */


// clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
.clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.reset-box {
  @include reset-box;
}

.no-pad {
	padding-left: 0;
	padding-right: 0;
}

.bottom-border {
  border-bottom: $bottom-border;
}

.btn-yellow {
  background: $smashtech-yellow;
  color: #000;
  text-transform: uppercase;
  padding: 6px 20px;
}

.full-width {
  width: 100%;
}

.orange-border {
  display: inline-block;
  &:after {
    @include orange-border;
  }
}

.swiper-pagination-bullet-active {
  background: #404040 !important;
  opacity: 1 !important;
}