.about {
  h3, h4, p {
		text-align: center;
	} 
	.secret-sauce {
		img {
			display: block;
		}
	}
	.mission-values {
		margin-top: 20px;
		margin-bottom: 20px;
		.text-block {
			min-height: 400px;
			text-align: center;
			h2{
				display: inline-block;
				&:after {
					@include orange-border;
				}
			}
			
			p {
				padding-left: 15%;
				padding-right: 15%;
			}
		}
	}
	.secret-sauce {
		padding: 60px 0;
		h2 {
			margin-bottom: 60px;
			text-align: center;
			font-stretch: condensed;
		}
		h3 {
			font-size: 1.5rem;
			margin-top: 20px;
		}
	}
	.winning-culture {
		margin-top: 70px;
		img {
			display: block;
			max-width: 800px;
		}
	}
}

.locks {
	text-align: center;
	margin-top: 90px;
	margin-bottom: 50px;
	font-family: $roboto;
	p {
		margin-bottom: 0;
	}
	.lock {
		height: 370px;
	  width: 70%;
	  margin: 0 auto;
	  font-size: 85px;
	  span {
	  	display: block;
	  	margin-top: 40px;
	  	line-height: .777;
	  	font-size: 170px;
	  	color: #fff;
	  	font-family: $condensed;
	  }
	  i {
	  	font-size: 100px;
	  }
	  &.grey {
	  	background: #808080;  	
	  	i {
	  		display: block;
	  		color: $smashtech-yellow;
	  	}
	  }
	  &.yellow {
	  	background: $smashtech-yellow;
	  	i {
	  		display: block;
	  		color: #000;
	  	}
	  }
	  &.black {
	  	background: #000;
	  	i {
	  		display: block;
	  		color: #fff;
	  	}
	  }
	}
}

ol.timeline {
	max-width: 1000px;
	margin: 60px auto;
	position: relative;
	@include media-breakpoint-up(md) {
		padding: 0 145px;
	}
	li {
		list-style: none;
		border-right: 1px solid $smashtech-grey;
		width: 50%;
		text-align: right;
		color: $text-grey;
		&:nth-child(even) {
			margin-left: 50%;
			border-right: none;
			border-left: 1px solid $smashtech-grey;
			text-align: left;
			.timeline-title {
				padding-left: 40px;
				&:before {
					border-right: none;
					border-left: 2px solid $smashtech-grey;
					left: 30px;
					-moz-transform: skew(-45deg);
				  -webkit-transform: skew(-45deg);
				  transform: skew(-45deg);
				}
				&:after {
					left: -15px;
				}
			}
			
		}
		.timeline-title {
			color: #000;
			position: relative;
			padding-right: 40px;
			margin-bottom: 30px;
			&:before {
				border-color: $smashtech-grey;
				content: '';
				height: 20px;
			  width: 210px;
			  border-top: 2px solid $smashtech-grey;
			  border-right: 2px solid $smashtech-grey;
			  border-left: none;
			  -moz-transform: skew(45deg);
			  -webkit-transform: skew(45deg);
			  transform: skew(45deg);
			  position: absolute;
		    top: 25px;
  			right: 30px;
  			max-width: 90%;
			}
			&:after {
				content: '';
				height: 30px;
				width: 30px;
				background: $smashtech-grey;
				position: absolute;
				border-radius: 50%;
			  right: -15px;
  			top: 35px; 
			}
		}

		.timeline-img {
		  padding: 0 20px;
		}
		.timeline-content {
			margin: 0 20px;
		}

	}

}


.founders {
	.content-area {
		border-bottom: 2px solid $smashtech-grey;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-bottom: 60px;
	}
	.header-border {
		font-size: 42px;

	}
}


.careers-single {
	.post-header {
		margin-top: 20px; 
		margin-bottom: 20px;
		h2 {
			text-transform: uppercase;
		}
		.apply-now {
			text-align: right;
			@include media-breakpoint-down(md) {
				text-align: left;
			}
		}
	}	
}

.careers {
	.page-builder {
		.header-section {
			.header-border {
				text-align: left;
				display: block;
				&:after {
					content: none;
				}
			}
			p {
				text-align: left;  
				padding: 0;
			}
		}
	}

	.list-open-careers {
		margin-top: 60px;
		a {
			color: $text-grey;
		}
	}
	
}


