.about {
  h3, h4, p {
		text-align: center;
	} 
	.secret-sauce {
		img {
			display: block;
		}
	}
	.mission-values {
		margin-top: 20px;
		margin-bottom: 20px;
		.text-block {
			min-height: 400px;
			text-align: center;
			h2{
				display: inline-block;
				&:after {
					@include orange-border;
				}
			}
			
			p {
				padding-left: 15%;
				padding-right: 15%;
			}
		}
	}
	.secret-sauce {
		padding: 60px 0;
		h2 {
			margin-bottom: 60px;
			text-align: center;
			font-stretch: condensed;
		}
		h3 {
			font-size: 1.5rem;
			margin-top: 20px;
		}
	}
	.winning-culture {
		margin-top: 70px;
		img {
			display: block;
			max-width: 800px;
		}
	}
}

.locks {
	text-align: center;
	margin-top: 90px;
	margin-bottom: 50px;
	font-family: $roboto;
	p {
		margin-bottom: 0;
	}
	.lock {
		height: 370px;
	  width: 70%;
	  margin: 0 auto;
	  font-size: 85px;
	  span {
	  	display: block;
	  	margin-top: 40px;
	  	line-height: .777;
	  	font-size: 170px;
	  	color: #fff;
	  	font-family: $condensed;
	  }
	  i {
	  	font-size: 100px;
	  }
	  &.grey {
	  	background: #808080;  	
	  	i {
	  		display: block;
	  		color: $smashtech-yellow;
	  	}
	  }
	  &.yellow {
	  	background: $smashtech-yellow;
	  	i {
	  		display: block;
	  		color: #000;
	  	}
	  }
	  &.black {
	  	background: #000;
	  	i {
	  		display: block;
	  		color: #fff;
	  	}
	  }
	}
}




