.founders {
	.page-builder {
		.header-section {
			text-align: left !important;
			padding-left: 10%;
			p {
				padding-left: 0;
				padding-right: 5%;
			}
			.header-border {
				font-size: 42px;
				&:after {
					margin: 10px 0 20px 0;
				}
			}
		}
	}

	.content-area {
		border-bottom: 2px solid $smashtech-grey;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-bottom: 60px;
	}
	

	ol.timeline {
		max-width: 1000px;
		margin: 60px auto;
		position: relative;
		@include media-breakpoint-up(md) {
			padding: 0 145px;
		}
		li {
			list-style: none;
			border-right: 1px solid $smashtech-grey;
			width: 50%;
			text-align: right;
			color: $text-grey;
			&:nth-child(even) {
				margin-left: 50%;
				border-right: none;
				border-left: 1px solid $smashtech-grey;
				text-align: left;
				.timeline-title {
					padding-left: 40px;
					&:before {
						border-right: none;
						border-left: 2px solid $smashtech-grey;
						left: 30px;
						-moz-transform: skew(-45deg);
					  -webkit-transform: skew(-45deg);
					  transform: skew(-45deg);
					}
					&:after {
						left: -15px;
					}
				}
				
			}
			.timeline-title {
				color: #000;
				position: relative;
				padding-right: 40px;
				margin-bottom: 30px;
				&:before {
					border-color: $smashtech-grey;
					content: '';
					height: 20px;
				  width: 210px;
				  border-top: 2px solid $smashtech-grey;
				  border-right: 2px solid $smashtech-grey;
				  border-left: none;
				  -moz-transform: skew(45deg);
				  -webkit-transform: skew(45deg);
				  transform: skew(45deg);
				  position: absolute;
			    top: 25px;
	  			right: 30px;
	  			max-width: 90%;
				}
				&:after {
					content: '';
					height: 30px;
					width: 30px;
					background: $smashtech-grey;
					position: absolute;
					border-radius: 50%;
				  right: -15px;
	  			top: 35px; 
				}
			}

			.timeline-img {
			  padding: 0 20px;
			}
			.timeline-content {
				margin: 0 20px;
			}

		}
		@include media-breakpoint-down(md) {
			
				padding: 0;
				li {
					border-left: 1px solid $smashtech-grey;
					border-right: none;
					width: 100%;
					text-align: left;
					padding: 40px 0;
					.timeline-title {
						margin-bottom: 10px;
						padding-left: 40px;
						&:before {
							content: none;
						}
						&:after {
							left: -15px;
							top: 0;
						}
					}
					&:nth-child(even) {
						margin-left:0;
					}
				}
			}
			
		

	}//timeline
}//founders

