.home {
	.swiper-hero {
		.swiper-pagination {
			.swiper-pagination-bullet {
				border-radius: 0;
				width: 50px;
				background: #ABABAA !important;
				opacity: 1;
			}
			.swiper-pagination-bullet-active {
				background: #fff !important;
			}
			
		}
		@include media-breakpoint-down(md) {
			h1 {
				padding-right: 20px;
				padding-left: 20px;
			}
		}
	}

	.blockquote {
		font-size: 25px;
		color: #000;
	  padding: 0 40px 0 0;
	  font-family: $condensed;
	  span {
	  	color: $smashtech-yellow;
	  	font-size: 25px; 
	  }
	}
	section {
		border-bottom: 2px solid $smashtech-grey; 
	}
	.fa-chevron-down {
		font-size: 40px;
		color: $smashtech-yellow;
	}
	.content-area {
		line-height: 2;
	}
	h3 {
		display: inline-block;
	}
	.founders {
		p {
			margin-top: 0;
		}
	}
	.jobs-section {
		padding: 50px;
		.swiper-jobs {
			img {
				box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
			}
			p {
				strong {
					color: #000;
				}
			}
			.swiper-pagination {
				bottom: 0;
			}
		}
	}
	.newest-blogs {
		img {
			border-radius: 8px;
		}
	}
}