.hero {
	text-align: center;
	color: #fff;
	min-height: 600px;
	width: 100%;
	position: relative;
	background-size: cover;
	h1 {
		font-family: $muli;
		padding-top: 150px;
		display: inline-block;
		font-size: 50px;
		&:after {
			content: '';
			width: 50%;
			background: $smashtech-yellow;
			height: 5px;
			margin: 0 auto;
			display: block;
		}
	}
	p {
	  padding-left: 20%;
	  padding-right: 20%;
	  margin-top: 20px;
	  font-size: $roboto;
	  font-size: 20px;
	}
	i {
		font-size: 30px;
		color: $smashtech-yellow;
		position: absolute;
		bottom: 30px;
	}
	&.small {
		min-height: 350px; 
	}
}

.page-builder {
	.img-fluid {
		width: 100%;
	}
	.header-section {
		p {
			padding-left: 20%;
			padding-right: 20%;
			color: $text-grey;
		}
	}
	.row-title {
		padding: 30px;
	}
	.content-widget {
		h2 {
			display: block;
			margin: 20px 0;
		}
	}
}